 <!-- Nav -->
 <nav id="nav">
    {% with request.resolver_match.url_name as url_name %}
    <ul class="links">
      <li {% if url_name == 'listCommandes' %}class="active"{% endif %}><a class="test" {% if url_name != 'listCommandes' %}href="{% url 'listCommandes' %}"{% endif %}>Liste des commande</a></li>
      <li {% if url_name == 'renouveler_contrat' %}class="active"{% endif %}><a class="test" {% if url_name != 'renouveler_contrat' %}href="{% url 'renouveler_contrat' %}"{% endif %} >Renouveler Contrat</a></li>
      <li {% if url_name == 'ajouterDis' %}class="active"{% endif %}><a class="test" {% if url_name != 'ajouterDis' %}href="{% url 'ajouterDis' %}"{% endif %} >Ajouter Distributeur</a></li>
      <li {% if url_name == 'suiviContrat' %}class="active"{% endif %}><a class="test" {% if url_name != 'suiviContrat' %}href="{% url 'suiviContrat' %}"{% endif %} >Suivis des Contrats</a></li>
      <li {% if url_name == 'soldClient' %}class="active"{% endif %}><a class="test" {% if url_name != 'soldClient' %}href="{% url 'soldClient' %}"{% endif %} >Sold Clients</a></li>
      <li {% if url_name == 'uploadProduct' %}class="active"{% endif %}><a class="test" {% if url_name != 'uploadProduct' %}href="{% url 'uploadProduct' %}"{% endif %} >Upload Product</a></li>
      <li {% if url_name == 'donnerPermission' %}class="active"{% endif %}><a class="test" {% if url_name != 'donnerPermission' %}href="{% url 'donnerPermission' %}"{% endif %} >Donner Permission</a></li>
    </ul>
    <ul class="icons">
      <li>
        <span class="label"
          ><a href="{% url 'logout' %}"class="icon brands fa-sign-out" aria-hidden="true">Logout</a>
        </span>
      </li>
    </ul>
    {% endwith %}
  </nav>