<div style="display: flex; justify-content: space-around; margin-bottom: 5%">
  <div class="table-wrapper">
    <table class="alt">
      <thead>
        <tr>
          <td>Nom</td>
          <td>Adresse</td>
          <td>Tel Portable</td>
          <td>Couriel</td>
          <td>Date Effet</td>
          <td>Date Echeance</td>
          <td>Nbre commande</td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nom}}</td>
          <td>{{adress}}</td>
          <td>{{tel_portable}}</td>
          <td>{{couriel}}</td>
          <td>{{date_effet}}</td>
          <td>{{date_echeance}}</td>
          <td>{{nbr_facture}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
