{%extends 'base.html'%} {% block title %} LISTE DES COMMANDE {% endblock %} 
{% block content %}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% include 'partials/_header.html'%} 
  {% include 'partials/_nav_com.html'%} 
  
  <div id="main">
    <!-- Table -->
    <h2>Listes de toutes les commandes</h2>
    <div id="filtreur">
      <input type="date" id="dateE" class="margening">
      <select name="refdes" class="form-control" id="refdes">
        <option value=""></option>
      </select>
      <select name="etat" id="etat" class="margening">
        <option value="">- Etat -</option>
        <option value="Brouillon">Brouillon</option>
        <option value="Annuler">Annuler</option>
        <option value="Done">Done</option>
      </select>
      <select name="distributeur" class="form-control" class="margening" id="selectDistri" >
        <option value=""></option>
      </select>
      <div></div>
    </div>
    <div id='table-div-commande' class="table-wrapper">
      <table class="alt">
          <thead>
              <tr>
                  <th>N° Commande</th>
                  <th>Date</th>
                  <th>Client</th>
                  <th>Ref Description</th>
                  <th>THT</th>
                  <th>TTC</th>
                  <th>Etat</th>
              </tr>
          </thead>
          <tbody>
              {% for com in commande %}
              <tr>
                
                  <td>{{com.n_commande_odoo}}</td>
                  <td>{{com.date}}</td>
                  <td>{{com.destributeur}}</td>
                  <td>{{com.reference_description}}</td>
                  <td>{{com.totaleHT}}</td>
                  <td>{{com.totaleTTC}}</td>
                  <td>{{com.etat}}</td>
                  <td><button
                    id="{{com.id}}"
                    onClick=showDetail(this.id)
                    type="button"
                    class="btn "
                    data-toggle="modal" data-target="#exampleModal"
                  >Detail</button></td>
                  <td>
                    <a
                    id="{{com.id}}"
                    onClick=showDetail(this.id)
                    type="button"
                    class="btn "
                    href="{% url 'pdf_view' com.id %}"
                    target="_blank"
                  >Imprimer</a>
                  </td>
                  <td>
                    <div class="dropdown">
                      <button 
                      {% if com.etat == 'Annuler' or com.etat == 'done' %}
                      class="btn disabled"
                      {% else %} 
                      class="btn" 
                      {% endif %}
                      type="button" 
                      id="dropdownMenuButton" 
                      data-toggle="dropdown"  
                      aria-expanded="false">
                        ...
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" disabled>
                        <a class="text-danger dropdown-item" href="{% url 'annulerCommande' com.id %}"  style="cursor: default;">Annuler</a>
                      </div>
                    </div>
                  </td>
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    <hr />
  </div>
</div>
<div class="modal fade" id="exampleModal" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h3>Bon de commande</h3></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="exemple">
        ...
      </div>
    </div>
  </div>
</div>
<script>
  $exemple = $('#exemple');
  function showDetail(id){

    $exemple.load('detailCommande/'+id)    


  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</div>
{% endblock %}
