{%extends 'base.html'%} {% block title %} LISTE DES COMMANDE {% endblock %} 
{% block content %}
{% load static %}
{% load intspace %}
<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.18.3/dist/bootstrap-table.min.css">
   <link rel="stylesheet" href="{% static '/css/main.css' %}" />
  {% include 'partials/_header.html'%} 
  {% include 'partials/_nav_com.html'%} 
  
  <div id="main">
    <!-- Table -->
    <h2>Listes de toutes les commandes</h2>
    <div id="filtreur">
      <input type="date" id="dateE" class="margening">
      <select name="refdes" class="form-control" id="refdes">
        <option value=""></option>
      </select>
      <select name="etat" id="etat" class="margening">
        <option value="">- Etat -</option>
        <option value="Brouillon">Brouillon</option>
        <option value="Annuler">Annuler</option>
        <option value="Done">Done</option>
      </select>
      <select name="distributeur" class="form-control" class="margening" id="selectDistri" >
        <option value=""></option>
      </select>
      <div></div>
      <br>
    </div>
    <div id='table-div-commande' class="table-wrapper">
      <table id="bootstrap-table" class="table">
          <thead>
                  <th  data-field="Commande" data-sortable="true">N° Commande</th>
                  <th  data-field="Date" data-sortable="true">Date</th>
                  <th  data-field="Client" data-sortable="true">Client</th>
                  <th  data-field="Ref" data-sortable="true">Ref Description</th>
                  <th  data-field="THT" data-sortable="true" style="
                  width: 94px;">THT</th>
                  <th  data-field="TTC" data-sortable="true">TTC</th>
                  <th  data-field="Etat" data-sortable="true">Etat</th>
                  <th></th>
                  <th></th>
                  <th></th>
                  <th></th>
              
          </thead>
          <tbody>
              {% for com in commande %}
              <tr>
                  <td>{{com.n_commande_odoo}}</td>
                  <td>{{com.date}}</td>
                  <td>{{com.destributeur}}</td>
                  <td>{{com.reference_description}}</td>
                  <td>{{com.totaleHT|intspace}}</td>
                  <td>{{com.totaleTTC|intspace}}</td>
                  <td>{{com.etat}}</td>
                  <td data-visible="false"><button
                    id="{{com.id}}"
                    onClick=showDetail(this.id)
                    type="button"
                    class="btn "
                    data-toggle="modal" data-target="#exampleModal"
                  >Detail</button></td>
                  <td>
                    <a
                    id="{{com.id}}"
                    onClick=showDetail(this.id)
                    type="button"
                    class="btn "
                    href="{% url 'pdf_view' com.id %}"
                    target="_blank"
                  >Imprimer</a>
                  </td>
                  <td><button
                    id="{{com.id}}"
                    onClick=showDetail(this.id)
                    type="button"
                    class="btn "
                    data-toggle="modal" data-target="#exampleModal"
                  >Modifier</button></td>
                  <td>
                    <div class="dropdown">
                      <button 
                      {% if com.etat == 'Annuler' or com.etat == 'done' %}
                      class="btn disabled"
                      {% else %} 
                      class="btn" 
                      {% endif %}
                      type="button" 
                      id="dropdownMenuButton" 
                      data-toggle="dropdown"  
                      aria-expanded="false">
                        ...
                      </button>
                      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" disabled>
                        <a class="text-danger dropdown-item" href="{% url 'annulerCommande' com.id %}"  style="cursor: default;">Annuler</a>
                      </div>
                    </div>
                  </td>
                  
              </tr>
              {% endfor %}
          </tbody>
      </table>
    </div>
    <hr />
  </div>
</div>
<div class="modal fade" id="exampleModal" >
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h3>Bon de commande</h3></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="exemple">
        ...
      </div>
    </div>
  </div>
</div>
<script>
  $exemple = $('#exemple');
  function showDetail(id){

    $exemple.load('detailCommande/'+id)    


  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="{% static 'js/bootstrap-table.js' %}"></script>
  <script type="text/javascript">

		var $table = $('#bootstrap-table');

	       

	        $().ready(function(){
	       

	            $table.bootstrapTable({
	                toolbar: ".toolbar",
	                clickToSelect: true,
	                showRefresh: false,
	                search: true,
	                showToggle: false,
	                showColumns: false,
	                pagination: true,
	                searchAlign: 'left',
	                pageSize: 8,
	                clickToSelect: false,
	                pageList: [8,10,25,50,100],

	                formatShowingRows: function(pageFrom, pageTo, totalRows){
	                    //do nothing here, we don't want to show the text "showing x of y from..."
	                },
	                formatRecordsPerPage: function(pageNumber){
	                    return pageNumber + " rows visible";
	                },
	                icons: {
	                    refresh: 'fa fa-refresh',
	                    toggle: 'fa fa-th-list',
	                    columns: 'fa fa-columns',
	                    detailOpen: 'fa fa-plus-circle',
	                    detailClose: 'ti-close'
	                }
	            });

	            //activate the tooltips after the data table is initialized
	            $('[rel="tooltip"]').tooltip();

	            $(window).resize(function () {
	                $table.bootstrapTable('resetView');
	            });
			});

	</script>
</div>
{% endblock %}
