{% extends 'base.html' %} {% block title %} Welcome {% endblock %} 
{% block content %}

<!-- Wrapper -->
<div id="wrapper">
  {% include 'partials/_header.html'%}
  <!-- Header -->
  <!-- <script
    src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"
  ></script> -->
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="{% url 'listCommandes' %}">Liste des commande</a></li>
      <li class="active"><a>Renouveler Contrat</a></li>
    </ul>
    <ul class="icons">
      <li>
        <span class="label"
          ><a
            href="{% url 'logout' %}"
            class="icon brands fa-github"
            aria-hidden="true"
          ></a>
        </span>
      </li>
    </ul>
  </nav>

  <div id="main">
    <!-- Table -->
    <h2>Renouveler Contrat</h2>
    <form method="post" action="{% url 'renew' %}">
      {% csrf_token %}
      <div class="row gtr-uniform">
        <!-- Break -->
        <div class="col-sm-12 col-lg-6">
          <select name="distributeur" class="form-control" id="selectDistri">
            <option value=""></option>
          </select>
        </div>
        <div class="col-sm-12 col-lg-4 ">
          <input
            type="date"
            name="demo-date"
            id="demo-email"
            value=""
            placeholder="Email"
          />
        </div>

        <!-- Break -->
        <div class="col-sm-12 col-lg-2 ">
          <ul class="actions">
            <li><input type="submit" value="Renouveler" class="primary" /></li>
          </ul>
        </div>
      </div>
    </form>
  </div>
  {% endblock %}
</div>
