{%extends 'base.html'%} {% block title %} AJOUTER DES PRODUITS {% endblock %} 
{% block content %}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  {% include 'partials/_header.html'%} 
  {% include 'partials/_nav_com.html'%} 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>


  <div id="main">
    <!-- Table -->
    <h2>Importer des produits</h2>
    
    <form
    id="form1"
    action="{% url 'uploadProduct' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %} Choisir le fichier Excel
    {% for message in messages %}
         
        <p style="text-align:center;color:red">{{message}}</p>
    {% endfor %}
    <input
      type="file"
      name="product"
      id="product"
      accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
    />
    <input id="btnSubmit" type="submit" value="Upload Produits" name="submit" />
  </form>
    
    <hr />
  </div>
</div>
<script type="text/javascript">
  // $(document).ready(function () {
  //   $("#btnSubmit").on("click", function (e) {
  //     var myForm = $("#form1");
  //    	console.log($("form#form1").val().length)
  //     if ($('#product').get(0).files.length === 0) {
  //       console.log("please upload a file")
  //     e.preventDefault();
  //     }
  //     else{
  //     console.log("button was clicked")
  //     $("#btnSubmit").prop("disabled", true);
  //     $(myForm).submit();
  //     console.log($(this))
      
  //     }
  //   });
  // });

  $('#form1').submit(function(e) {
    if ($('#product').get(0).files.length === 0) {
        console.log("please upload a file")
      e.preventDefault();
      }else{
        $(this).find("input[type='submit']").prop('disabled',true);
      }
});

 
</script>



</div>
{% endblock %}



