{%extends 'base.html'%} {% block title %} Welcome {% endblock %} 
{% block content %}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
  <header id="header">
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"
    ></script>
    <link
      href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css"
      rel="stylesheet"
    />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <a href="#" class="logo">Massively</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="{% url 'listCommandesD' %}">Liste des commande</a></li>
      <li class="active"><a>Commande</a></li>
    </ul>
    <ul class="icons">
      <li>
        <a href="#" class="icon brands fa-twitter"
          ><span class="label">Twitter</span></a
        >
      </li>
      <li>
        <a href="#" class="icon brands fa-facebook-f"
          ><span class="label">Facebook</span></a
        >
      </li>
      <li>
        <a href="#" class="icon brands fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>
      <li>
        <a href="#" class="icon brands fa-github"
          ><span class="label">GitHub</span></a
        >
      </li>
    </ul>
  </nav>

  <div id="main">
    <!-- Form -->
    <h2>Faire une commande</h2>
    <div style="display: flex; justify-content: space-between">
      <h3>Societe : Strugal</h3>
      <input
        type="text"
        style="width: 25%"
        value="{% now 'd/m/Y' %}"
        disabled
      />
    </div>
    <input value="{{data}}" hidden />
    <form method="post" action="{% url 'regCommand' %}">
      <input name="datalength" id="lenData" hidden value="1" />
      <input name="mat" id="mat" hidden value="0" />
      <input name="ttc" id="ttc" hidden value="0" />
      {% csrf_token %}
      <table class="table table-bordered" id="ourTable">
        <thead>
          <tr>
            <th scope="col" id="art">Article</th>
            <th scope="col">Quantité</th>
            <th scope="col">Unité de mesure</th>
            <th scope="col">Prix Unitaire</th>
            <th scope="col">Montant</th>
          </tr>
        </thead>
        <tbody>
          <tr id="1">
            <td>
              <div class="form-groupe">
                <select name="" class="selectjs" id="selectjs-1">
                  <option value=""></option>
                </select>
              </div>
            </td>

            <td>
              <input
                type="text"
                name="quantite-1"
                id="quantite-1"
                value="0"
                class="qte"
                placeholder="0"
              />
            </td>
            <td>
              <input
                type="text"
                name="unitedemeusur-1"
                id="unitedemeusur-1"
                value=""
                placeholder="..."
                disabled
              />
            </td>
            <td>
              <input
                type="text"
                name="prixunitaire-1"
                id="prixunitaire-1"
                value="19000"
                placeholder="19000"
                disabled
              />
            </td>
            <td>
              <input
                type="text"
                name="mantant-1"
                id="mantant-1"
                value="0"
                placeholder="0"
                disabled
              />
            </td>
          </tr>
        </tbody>
      </table>
      <div style="display: flex; justify-content: center">
        <svg
          id="add-one-more"
          xmlns="http://www.w3.org/2000/svg"
          width="40"
          height="40"
          fill="currentColor"
          class="bi bi-plus-circle"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
          />
          <path
            d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"
          />
        </svg>
      </div>
      <div style="display: flex; justify-content: flex-end">
        <div style="display: flex; flex-direction: column; width: 25%">
          <div style="display: flex; justify-content: space-between">
            MHT<input name="MHT" id="MHT" type="text" disabled />
          </div>
          <div style="display: flex; justify-content: space-between">
            TVA <input type="text" disabled placeholder="19%" />
          </div>
          <div style="display: flex; justify-content: space-between">
            TTC <input name="TTC" id="TTC" type="text" disabled />
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-end; margin-top: 2%">
        <button class="btn btn-primary">Enregistrer</button>
      </div>
    </form>
    <hr />
  </div>
</div>

{% endblock %}
