{%extends 'base.html'%} {% block title %} Welcome {% endblock %} 
{% block content %}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->

  {% include 'partials/_header.html'%}
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"
  ></script>
  <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"
  ></script>

  <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li><a href="{% url 'listCommandesD' %}">Liste des commande</a></li>
      <li class="active"><a>Commande</a></li>
      <li><a href="{% url 'modifierMP' %}">Modifier Mot de passe</a></li>
    </ul>
    <ul class="icons">
      <li>
        <span class="label"
          ><a href="{% url 'logout' %}" class="icon brands fa-sign-out"
            >logout</a
          ></span
        >
      </li>
    </ul>
  </nav>
  {% if rest <= 15 %}
  <script type="text/javascript">
    $(window).on("load", function () {
      $("#myModal").modal("show");
    });
  </script>
  {% endif %}
  <div id="main">
    <!-- Form -->
    <h2>Faire une commande</h2>
    <div style="display: flex; justify-content: space-between">
      <h3>Societe : Strugal</h3>
      <input
        type="text"
        style="width: 25%"
        value="{% now 'd/m/Y' %}"
        disabled
      />
    </div>
    <input value="{{data}}" hidden />
    <form
      method="post"
      action="{% url 'regCommand' %}"
      enctype="multipart/form-data"
    >
      <input name="datalength" id="lenData" hidden value="1" />
      <input name="mat" id="mat" hidden value="0" />
      <input name="ttc" id="ttc" hidden value="0" />
      {% csrf_token %}
      <div id="myRow-1" class="row align-items-end col-sm-12 test">
        <!-- la somme des colonne est < 12 pk ? ajout un ligne et tu comprendra -->
        <div class="col col-12 col-lg-4 col-xl-4">
          <div class="text-center">Article</div>
          <div class="">
            <select name="article-1" class="form-control" id="selectjs-1-1">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col col-12 col-lg-3 col-xl-3">
          <div class="text-center">ref Article</div>
          <div class="">
            <select class="form-control" id="selectjs-1-2">
              <option value=""></option>
            </select>
          </div>
        </div>
        <div class="col col-12 col-lg-1 col-xl-1">
          <div class="text-center">Quantité</div>
          <div class="">
            <input
              type="text"
              name="quantite-1"
              id="quantite-1"
              value="0"
              class="qte"
              placeholder="0"
            />
          </div>
        </div>
        <div class="col col-12 col-lg-1 col-xl-1">
          <div class="text-center">Unité de mesure</div>
          <div class="">
            <input
              type="text"
              name="unitedemeusur-1"
              id="unitedemeusur-1"
              value=""
              placeholder="..."
              readonly
            />
          </div>
        </div>
        <div class="col col-12 col-lg-1 col-xl-1">
          <div class="text-center">Prix Unitaire</div>
          <div class="">
            <input
              type="text"
              name="prix_unitaire-1"
              id="prix_unitaire-1"
              value=""
              placeholder=""
              readonly
            />
          </div>
        </div>
        <div class="col col-12 col-lg-1 col-xl-1">
          <div class="text-center">Montant</div>
          <div class="">
            <input
              type="text"
              name="mantant-1"
              id="mantant-1"
              value="0"
              placeholder="0"
              readonly
            />
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: center">
        <button
          id="add-one-more"
          type="button"
          class="icon solid fa-plus"
        ></button>
      </div>
      <div style="display: flex; justify-content: flex-end; height: 25vh">
        <div
          style="
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-around;
            padding-right: 1%;
          "
        >
          <div>MHT</div>
          <div>TVA</div>
          <div>TTC</div>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            width: 25%;
            height: 100%;
            justify-content: space-around;
          "
        >
          <div>
            <input name="MHT" id="MHT" type="text" readonly />
          </div>
          <div>
            <input type="text" id="TVA" value="" readonly />
          </div>
          <div>
            <input name="TTC" id="TTC" type="text" value="" readonly />
          </div>
        </div>
      </div>
      <div style="display: flex; justify-content: flex-end; margin-top: 2%">
        <button class="">Enregistrer</button>
      </div>
    </form>
    <hr />
  </div>
</div>
<div class="modal fade" id="myModal">
  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Expiration</h4>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <h5>Contrat en route d'expiration</h5>
        <p>
          Votre contrat vas s'expirer dans {{rest}} jour si vous voulez le
          renouvlez veillez contacter votre fournisseur le plus tot possible.
        </p>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-secondary mx-auto"
          data-dismiss="modal"
        >
          Close
        </button>
      </div>
    </div>
  </div>
</div>
{% endblock %}
