{% load intspace %}
<div class="table-wrapper">
  <table class="alt">
    <thead>
      <tr>
        <th>Code Article</th>
        <th>Nom Article</th>
        <th>Quantité</th>
      </tr>
    </thead>
    <tbody>
      {% for prod in list_commande %}
      <tr>
        <td>{{prod.code_article__id_article}}</td>
        <td>{{prod.code_article__nom_article}}</td>
        <td>{{prod.qte}}</td>
      </tr>
      {% endfor %}
    </tbody>
    <tfoot>
      <tr>
        <td colspan="1"></td>
        <td>Montant</td>
        <td>{{totalTTC|intspace}}</td>
      </tr>
    </tfoot>
  </table>
</div>
