{%extends 'base.html'%} {% block title %} Welcome {% endblock %} 
{% block content %}

<!-- Wrapper -->
<div id="wrapper">
  <!-- Header -->
  <header id="header">
    <script
      src="https://code.jquery.com/jquery-2.2.4.js"
      integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI="
      crossorigin="anonymous"
    ></script>
    
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
   
<a href="#" class="logo">Massively</a>
  </header>

  <!-- Nav -->
  <nav id="nav">
    <ul class="links">
      <li class="active"><a>Liste des commande</a></li>
      <li><a href="{% url 'commande' %}">Commande</a></li>
    </ul>
    <ul class="icons">
      <li>
        <span class="label">Hello,{{request.user}} </span>
        <a href="{% url 'logout' %}" class="icon brands fa-sign-out"
            ><span class="label"
            >logout</span
          ></a
          >
          
      </li>
    </ul>
  </nav>

  <div id="main">
    <!-- Table -->
    <h2>Listes de toutes mes commandes</h2>
    <div class="table-wrapper">
        <table class="alt">
            <thead>
                <tr>
                    <th>Ref Description</th>
                    <th>Date</th>
                    <th>THT</th>
                    <th>TTC</th>
                    <th>Etat</th>
                </tr>
            </thead>
            <tbody>
                {% for com in commande %}
                <tr>
                    <td>{{com.reference_description}}</td>
                    <td>{{com.date}}</td>
                    <td>{{com.totaleHT}}</td>
                    <td>{{com.totaleTTC}}</td>
                    <td>{{com.etat}}</td>
                    <td><button
                      id="{{com.id}}"
                      onClick=showDetail(this.id)
                      type="button"
                      class="btn "
                      data-toggle="modal" data-target="#exampleModal"
                    >Detail</button></td>
                    <td>
                      <a
                      id="{{com.id}}"
                      type="button"
                      class="btn "
                      href="{% url 'pdf_view' com.id %}"
                      target="_blank"
                    >Imprimer</a>
                    </td>
                </tr>
                {% endfor %}
                
            </tbody>
        </table>
    </div>
    <hr />
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Detail Commande</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="exemple">
        ...
      </div>
    </div>
  </div>
</div>


<script>
  $exemple = $('#exemple');
  function showDetail(id){

    $exemple.load('detailCommande/'+id)    


  }
</script>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</div>
{% endblock %}
